@page
@model ShipWithMeWeb.Pages.PrivacyPolicyModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
    <link href="~/css/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/js/ResetPassword.js" defer></script>
</head>
<body>
    <p class="big-title">Ship n Share</p>
    <p class="small-title">Privacy Policy</p>
    <p class="text">
        We store/collect only the following information when you sign up:
    </p>
    <ul>
        <li><p class="text">username</p></li>
        <li><p class="text">e-mail</p></li>
        <li><p class="text">password (hashed and salted, i.e. not readable and hard to hack)</p></li>
    </ul>
    <p class="text">
        Other information stored on the server includes:
    </p>
    <ul>
        <li><p class="text">uploaded posts</p></li>
        <li><p class="text">submitted reviews</p></li>
        <li><p class="text">messages sent using the built-in chat functionality</p></li>
    </ul>
    <p class="text">
        We only store the above mentioned data for <b>functionality purposes</b>.
    </p>
    <p class="text">
        We <b>never</b> disclose your e-mail, password or messages to anyone.
        However, your username is visible to other people on the platform.
    </p>
    <p class="text">
        We do not share your data with any third parties.
    </p>
    <p class="text">
        We store the above mentioned personal data as long as you have not revoked it or this service is still active.
        If you wish to <b>delete your data</b>, send an email to <a href="mailto:indecodeab@gmail.com">indecodeab@gmail.com</a>
        and it will be completed within 48 hours.
    </p>

    <p class="text">For questions regarding the app, any issues or general concerns, don't hesitate to send an email to <a href="mailto:indecodeab@gmail.com">indecodeab@gmail.com</a>.</p>
</body>
</html>
