@page
@model ShipWithMeWeb.Pages.ResetPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link href="~/css/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/js/ResetPassword.js" defer></script>
</head>
<body>
    <p class="big-title">Ship n Share</p>
    <p class="small-title">Reset Password</p>
    <form method="post">
        <input asp-for="UserId" value="@Model.GetUserId" hidden />
        <input asp-for="Token" value="@Model.GetToken" hidden />
        <input id="new-password" class="input-field" asp-for="NewPassword" placeholder="New password..." type="password" />
        <input id="submit" class="input-button disabled-button" type="submit" disabled />
    </form>
    <ul id="error-list">

    </ul>
</body>
</html>


