@page
@model ShipWithMeWeb.Pages.SuccessModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <link href="~/css/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <p class="big-title">Ship n Share</p>
    <p class="medium-title">Success</p>
    <p class="small-title">@Model.Message</p>
</body>
</html>
