@page
@model ShipWithMeWeb.Pages.SupportModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Support</title>
    <link href="~/css/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/js/ResetPassword.js" defer></script>
</head>
<body>
    <p class="big-title">Ship n Share</p>
    <p class="small-title">Support</p>
    <p class="text">For questions regarding the app, any issues or general concerns, don't hesitate to send an email to <a href="mailto:indecodeab@gmail.com">indecodeab@gmail.com</a>.</p>
</body>
</html>
